body {
  	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: black;
	background-color: lightblue;
}

a {
  	color: black;
}

.container {
  	display: flex;
  	justify-content: center;
}

.col {
	flex-flow: column no-wrap;
}

.row {
	flex-flow: row no-wrap;
}

h1 {
	text-align: center;
}

#menu {
	text-align: center;
	font-size: x-large;
}

#menu li {
	padding-right: 60px;
	display: inline;
}

input, select {
	margin-bottom: 20px;
}

button {
	margin-right: 20px;
}

li {
	font-size: 25px;
}