<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

    <ul>
      
        <% actors.forEach(actor => { %>
          <li> <%= actor.first_name %> <%= actor.last_name %> </li>
        <% }); %>
      
    </ul>

  </body>
</html>
