<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

    <ul>
      
        <% genres.forEach(genre => { %>
          <li> <%= genre.name %> </li>
        <% }); %>
      
    </ul>

  </body>
</html>