<!DOCTYPE html>
<html> 

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="stylesheets/style.css">
		<title>DH Movies</title>
	</head>

	<body>

		<main class="container">

			<div class="col">
				<h1>DH Movies</h1>

				<ul>
					<li><a href="/genres">Géneros</a></li>
					<li>Actores</li>
				</ul>
			</div>

			<div class="col">

				<ul>
					<% if (typeof movies != 'undefined') { %>
						<% movies.forEach(movie => { %>
							<li>
								<a href="movies/<%= movie.id %>"><%= movie.title %>
							</li>
						<% }); %>
					<% } %>
				</ul>

			</div>

		</main>

	</body>
</html>
