<!DOCTYPE html>
<html>

	<%- include('partials/head') %> 

  	<body>
		
		<%- include('partials/titulo') %> 

		<div class="container">

			<div class="col">
				<% newMovies.forEach(movie => { %>
					<li><%= movie.title %></li>
					<li><%= movie.release_date %></li>
					<br>
				<% }); %>
			</div>
			
		</div>

  </body>
</html>