<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    
    <ul>
      
      <% seasons.forEach(season => { %>
        <li> <%= season.title %> </li>
      <% }); %>
    
    </ul>
    
  </body>
</html>