<div id="menu">
    <h1>DH Movie</h1>
    <ul>
        <li><a href="/">Películas</a></li>
        <li><a href="/genres">Géneros</a></li>
        <li><a href="/actors">Actores</a></li>
        <li><a href="/series">Series</a></li>
    </ul>
</div>